<% layout("/layouts/boilerplate") %>
<body  data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
  <!-- <img src="../img/Group 25.jpg" width="200px" height="200px" alt=""> -->

  <!-- Banner Section -->
  <section id="home" class="banner_wrapper p-0 ">
    <!-- slider main container -->
    <div class="swiper mySwiper ">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="background-image: url(../img/slider/slider2.webp);">
          <div class="slide-caption text-center">
            <h1>
              Welcome to Confort HomeStay
            </h1>
            <p>We gives you an a home like feeling while traveling and also gives 
              opportunity to earn by renting your home Stay</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../img/slider/slider1.webp);">
          <div class="slide-caption text-center">
            <h1>
              Welcome to Confort HomeStay
            </h1>
            <p>We gives you an a home like feeling while traveling and also gives 
              opportunity to earn by renting your home Stay</p>
          </div>
        </div>
        
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <!-- Bootstrap CDN-->
</body>
